
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<Montserrat> {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #D8E4D6;
  color: #000000;
  margin: 0;
  padding: 0;
}


.seccion-b1 {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw;  /* 100% del ancho de la pantalla */
  background-color: #958AAA; 
}

#seccion1 {
  width: 50%;
  padding: 20px;
  text-align: justify;
  margin: 0 auto;

}

.seccion-b2 {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw;  /* 100% del ancho de la pantalla */
  background-color: #8E8101; 
}

#seccion2 {
  padding: 20px;
  text-align: justify;
}

.p-a {
  width: 50%
}

#autor {
  width: 35%;
  float: right;
  margin-right: 10px;
}

.seccion-b3 {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center;
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw;  /* 100% del ancho de la pantalla */
  background-color: #FF522A; 
}

#seccion3 {
  width: 80%;
  padding: 20px;
  text-align: justify;
}

.parrafos-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.p1, .p2 {
  flex: 1;
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.p1 {
  margin-left: 20px;
}

.p2{
  margin-right: 20pz;
}
.seccion-b4 {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw;  /* 100% del ancho de la pantalla */
}

#seccion4 {
  width: 50%;
  padding: 20px;
  text-align: justify;
}

.seccion-b5 {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw;  /* 100% del ancho de la pantalla */
  background-color: #958AAA; 
}

#seccion5 {
  padding: 20px;
  text-align: justify;
  width: 50%
}

#seccion5-2 {
  padding: 20px;
  text-align: justify;
  width: 50%
}

.contenedor {
  display: grid;
  grid-column: 50% 50%;
}

.contenedor2 {
  display: grid;
  grid-column: 50% 50%;
}

.seccion-b7 {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw;  /* 100% del ancho de la pantalla */
  background-color: #958AAA;
}

#seccion7 {
  padding: 20px;
  text-align: justify;
  width: 50%
}

.seccion-b6 {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw;  /* 100% del ancho de la pantalla */
  background-color: #8E8101; 
}

#seccion6 {
  padding: 20px;
  text-align: justify;
  width: 50%
}



header {
  background-color: #D8E4D6;
  color: #000000;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #000000;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #D8E4D6;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  color: #D8E4D6;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  color: #D8E4D6;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #D8E4D6;
}

section {
  padding: 20px;
}

footer {
  background-color: #000000;
  color: #D8E4D6;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}
