
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

/* FUENTE CONTENIDO-PARRAFOS */
.montserrat-<Montserrat> {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}

/* FUENTE TÍTULOS */
@font-face {
  font-family: neue;
  src: 
       url(PPNEUEMACHINA-INKTRAPREGULAR.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* FUENTE PARA TITULOS SECCIONES */
h2 {
  font-family: neue;
}

/* FUENTE PARA CONTENIDO PARRAFOS */
body {
  font-family: Montserrat, sans-serif;
  background-color: #000000;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* LAS SECCIONES DE LA WEB ESTARÁN DIVIDIDAS POR "SECCION : XXXXXXX", "FONDO" Y "CONTENIDO"

todos los que tienen xxx-base son : FONDO, DIMENSIONES DE LA PANTALLA Y COLOR PARA LA SECCIÓN 

LOS ARCHIVOS EXTRA DEBEN TENER LAS TRES PRIMERAS LETRAS DEL NOMBRE DE LA SECCION SEGUIDO DE UN - QUE 
DIGA QUE ES EL ELEMENTO (ej: abs-fondogif ,, que sería el gif que iría en el fondo del abstract)

pd: si es necesario explicar que es algo que se añade dejar mensajes así!!!!
*/



/* SECCION :; INTRODUCCIÓN WEB */

/* FONDO */
/* FONDO */
.abs-base {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    width: 100vw;  
    position: relative; /* Posicionamiento relativo para los elementos hijos */
    background-image: url("gif/abs-fondo.gif"); 
    background-size: cover; /* Ajusta el tamaño del fondo */
    background-position: center; /* Centra el fondo */
    background-repeat: no-repeat; /* Evita que se repita */
}

/* CONTENIDO */
#abstract {
    width: 50%; 
    padding: 20px;
    text-align: justify;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px; /* bordes redondeadoss */
    color: #D8E4D6;
}


 /* SECCION : FREDERIC - AUTOR PROYECTO */

/* FONDO */
.aut-base {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw;  
  margin-top: -122px;
 
}
/* CONTENIDO */
#autor {
  padding: 20px;
  text-align: justify;
  background-color: #D8E4D6;
  border-radius: 0px;
}
.sub-autor {
  background-color: #FF522A; /* Fondo de color amarillo */
  color: #000000; /* Color del texto */
  padding: 0.5em; /* Espaciado interno */
  margin-left: 20px;
}

.p-a {
  width: 50%;
  margin-left: 20px;
}

#frederic-img {
  width: 35%;
  float: right;
  margin-right: 50px;
  margin-top: -280px;
}


 /* SECCION : DESCRIPCIÓN PROYECTO CINEMETRICS */

 /* FONDO */
.pro-base {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  margin-top: -230px;
}

/* CONTENIDO */
#proyecto {
  width: 90%;
  padding: 20px;
  text-align: justify;
  background-color: #D8E4D6;
  border-radius: 0px;
}

.sub-descine {
  background-color: #FF522A; /* Fondo de color amarillo */
  color: #000000; /* Color del texto */
  padding: 0.5em; /* Espaciado interno */
  margin-left: 20px;
}

.parrafos-container {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
}

.p1, .p2 {
  flex: 1;
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.p1 {
  margin-left: 20px;
}

.p2{
  margin-right: 20pz;
}


 /* SECCION : LEV MANOVICH */

 /* FONDO */
.pri-base {
  display: flex;
  align-items: flex-start; 
  height: auto; 
  width: 100vw;  
  color: #D8E4D6;
}
/* CONTENIDO */
#principios {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: -70px;
}

.sub-lev {
  margin-left: 20px;
 
}

.columnas {
  gap: 20px;

}

.p1-container   {
  flex-basis: 0%;
  text-align: justify;
  max-width: 70%;
  flex-grow: 1;
   /* NO HE PODIDO ALINEAR ESTE PARRAFO*/
}

.p2-container {
  flex-basis: 0%;
  text-align: justify;
  max-width: 70%;
  flex-grow: 1;
  
}

.img-right {
  width: 480px;
  height: auto;
  margin-top: -380px;
  margin-left: 680px;
  display: flex;

}

.p3-container {
  flex-basis: 0%;
  text-align: justify;
  max-width: 70%;
  flex-grow: 1;
  
}



/* SECCION : COMPARATIVA GENERO TERROR */

/* FONDO */
.ter-base {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw;  
  background-color: #FF522A; 
}
/* CONTENIDO */
#terror {
  padding: 20px;
  text-align: justify;
  width: 50%;
  margin-top: 200px;
}

/* SECCION : CONCLUSIÓN */

/* FONDO */
.con-base {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw;  
  background-color: #8E8101;
}
/* CONTENIDO */
#conclusion {
  padding: 20px;
  text-align: justify;
  width: 50%
}

/* SECCION : XXXX */

/* FONDO */
.bib-base {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw;  
  background-color: #FF522A; 
}
/* CONTENIDO */
#bibliografia {
  padding: 20px;
  text-align: justify;
  width: 50%
}



header {
  background-color: #000000;
  color: #D8E4D6;
  padding: 20px;
  text-align: center;
  font-family: neue;
}

nav {
  background-color: #D8E4D6;
  padding: 20px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000000;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  color: #000000;
}

nav ul li a {
  color: #D8E4D6;
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #000000;
}


section {
  padding: 20px;
}

footer {
  background-color: #000000;
  color: #D8E4D6;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}
