
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<Montserrat> {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #D8E4D6;
  color: #000000;
  margin: 0;
  padding: 0;
}

#seccion1 {
  width: 50%;
  padding: 20px;
  text-align: center;
   margin: 0 auto;
}

#seccion2 {
  width: 30%;
  padding: 20px;
  text-align: justify;
}

#seccion3 {
  width: 30%;
  padding: 20px;
  text-align: justify;
}

header {
  background-color: #D8E4D6;
  color: #000000;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #FF522A;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

footer {
  background-color: #000000;
  color: #D8E4D6;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}
