
/* FUENTE CONTENIDO-PARRAFOS */
.montserrat-<Montserrat> {
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}

/* FUENTE TÍTULOS */
@font-face {
  font-family: neue;
  src: 
       url(PPNEUEMACHINA-INKTRAPREGULAR.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* FUENTE PARA TITULOS SECCIONES */
h2 {
  font-family: neue;
}

/* FUENTE PARA CONTENIDO PARRAFOS */
body {
  font-family: Montserrat, sans-serif;
  background-color: #000000;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* LAS SECCIONES DE LA WEB ESTARÁN DIVIDIDAS POR "SECCION : XXXXXXX", "FONDO" Y "CONTENIDO"

todos los que tienen xxx-base son : FONDO, DIMENSIONES DE LA PANTALLA Y COLOR PARA LA SECCIÓN 

LOS ARCHIVOS EXTRA DEBEN TENER LAS TRES PRIMERAS LETRAS DEL NOMBRE DE LA SECCION SEGUIDO DE UN - QUE 
DIGA QUE ES EL ELEMENTO (ej: abs-fondogif ,, que sería el gif que iría en el fondo del abstract)

pd: si es necesario explicar que es algo que se añade dejar mensajes así!!!!
*/



/* SECCION :; INTRODUCCIÓN WEB */

/* FONDO */
/* FONDO */
.abs-base {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    width: 100vw;  
    position: relative; /* Posicionamiento relativo para los elementos hijos */
    background-image: url("gif/abs-fondo.gif"); 
    background-size: cover; /* Ajusta el tamaño del fondo */
    background-position: center; /* Centra el fondo */
    background-repeat: no-repeat; /* Evita que se repita */
}

/* CONTENIDO */
#abstract {
    width: 50%; 
    padding: 20px;
    text-align: justify;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px; /* bordes redondeadoss */
    color: #D8E4D6;
}


 /* SECCION : FREDERIC - AUTOR PROYECTO */

/* FONDO */
.aut-base {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw;  
  margin-top: -20px;
 
}
/* CONTENIDO */
#autor {
  padding: 20px;
  text-align: justify;
}
.sub-autor {
  background-color: #FF522A; /* Fondo de color amarillo */
  color: #000000; /* Color del texto */
  padding: 0.5em; /* Espaciado interno */
  margin-left: 20px;
  border-radius: 30px;
}

.aut-p1 {
  width: 50%;
  margin-left: 20px;
  background-color: #958AAA;
  border-radius: 30px;
  padding: 2em; 
}

#frederic-img {
  width: 35%;
  float: right;
  margin-right: 70px;
  margin-top: -280px;
  border-radius: 30px;
}


 /* SECCION : DESCRIPCIÓN PROYECTO CINEMETRICS */

 /* FONDO */
.pro-base {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  margin-top: -200px;
}

/* CONTENIDO */
#proyecto {
  width: 90%;
  padding: 20px;
  text-align: justify;
  border-radius: 0px;
}

.sub-descine {
  background-color: #FF522A; /* Fondo de color amarillo */
  color: #000000; /* Color del texto */
  padding: 0.5em; /* Espaciado interno */
  margin-left: 20px;
  border-radius: 30px;
}

.parrafos-container {
  display: flex;
  justify-content: space-between;
  
}

.p1, .p2 {
  flex: 1;
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.p1 {
  margin-left: 20px;
  background-color: #D8E4D6;
  padding: 2em; 
  border-radius: 30px;
  width: 60%
}

.p2{
  margin-right: 20px;
  background-color: #D8E4D6;
  padding: 2em; 
  margin-left: 60px;
  border-radius: 30px;
  width: 60%
}

.pro-gif {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    width: 100vw;  
    position: relative; /* Posicionamiento relativo para los elementos hijos */
    background-image: url("gif/pro-gif.gif"); 
    background-size: cover; /* Ajusta el tamaño del fondo */
    background-position: center; /* Centra el fondo */
    background-repeat: no-repeat; /* Evita que se repita */
}

/* SECCION : DIAGRAMA */

/* FONDO */
.dia-base {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 200vh; 
    width: 100vw;  
    background-color: #0000; 
}
/* CONTENIDO */
.dia-img {
    max-width: 80%; /* Asegura que la imagen no exceda el ancho del contenedor */
    max-height: 80%; /* Asegura que la imagen no exceda la altura del contenedor */
    object-fit: contain; /* Mantiene las proporciones de la imagen */
    margin-left: 70px;

}




 /* SECCION : LEV MANOVICH */

 /* FONDO */
.pri-base {
   display: flex;
   align-items: center; 
   height: 100vh; 
   width: 100vw;  
   background-color: #0000; 
   color: #000000;
   margin-top: -150px;
}
/* CONTENIDO */
#principios {
  padding: 20px;
  text-align: justify;
  width: 80%;
  margin-top: 200px;
}

.sub-lev {
  background-color: #FF522A; /* Fondo de color amarillo */
  color: #000000; /* Color del texto */
  padding: 0.5em; /* Espaciado interno */
  margin-left: 20px;
  border-radius: 30px;
 
}

.img-right {
  width: 480px;
  height: auto;
  margin-top: -450px;
  margin-left: 740px;
  display: flex;
  border-radius: 30px;

}

#pri-p1 {
  background-color: #958AAA;
  padding: 2em; 
  margin-left: 20px;
  border-radius: 30px;
  width: 60%
}

#pri-p2 {
  background-color: #D8E4D6;
  padding: 2em; 
  margin-left: 20px;
  border-radius: 30px;
  width: 60%
}

#pri-p3 {
  background-color: #8E8101;
  padding: 2em; 
  margin-left: 20px;
  border-radius: 30px;
  width: 60%
}


/* SECCION : COMPARATIVA GENERO TERROR */

/* FONDO */
.ter-base {
  display: flex;
  align-items: center; 
  height: 180vh; 
  width: 100vw; 
}

/* FONDO */
.ter-base2 {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
}


/* CONTENIDO */
#terror {
  padding: 20px;
  text-align: justify;
  width: 80%;
  margin-top: 200px;
}

.sub-terror {
  background-color: #FF522A; 
  color: #000000; 
  padding: 0.5em; 
  margin-left: 20px;
  border-radius: 30px;}

#ter-p1 {
  background-color: #958AAA;
  padding: 2em; 
  margin-left: 20px;
  border-radius: 30px;
}

/* FONDO */
.ter-base2 {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
}

#ter-p2 {
  background-color: #D8E4D6;
  padding: 2em; 
  margin-left: 20px;
  border-radius: 30px;
}

#ter-p3 {
  background-color: #D8E4D6;
  padding: 2em; 
  margin-left: 20px;
  border-radius: 30px;
}

#ter-p4 {
  background-color: #D8E4D6;
  padding: 2em; 
  margin-left: 20px;
  border-radius: 30px;
}

/* FONDO */
.ter-base3 {
  display: flex;
  align-items: center;
  height: 100vh; 
  width: 100vw; 
}

.ter-gen-gif {
  max-width: 98%; /* Limita el ancho de la imagen a la mitad del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: 20px; /* Espacio entre el párrafo y la imagen */
  border-radius: 30px;
}

.ter-invasion-gif {
  max-width: 20%; /* Limita el ancho de la imagen a la mitad del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: 20px; /* Espacio entre el párrafo y la imagen */
  border-radius: 30px;
}

.ter-birds-gif {
  max-width: 20%; /* Limita el ancho de la imagen a la mitad del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 30px;
}

.ter-bruja-gif {
    max-width: 20%; /* Limita el ancho de la imagen a la mitad del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 30px;
}

.ter-resplandor-gif {
    max-width: 20%; /* Limita el ancho de la imagen a la mitad del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 30px;
}


/* SECCION : CONCLUSIÓN */

/* FONDO */
.con-base {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw;  
  background-color: #D8E4D6;
}
/* CONTENIDO */
#conclusion {
  margin-left: 20px;
  padding: 20px;
  text-align: justify;
  width: 50%;
}

/* SECCION : BIBLIOGRAFÍA */

/* FONDO */
.bib-base {
  display: flex;
  align-items: center; 
  height: 100vh; 
  width: 100vw;  
  background-color: #000000;
  color: #D8E4D6; 
}
/* CONTENIDO */
#bibliografia {
  padding: 20px;
  width: 100%
}



header {
  background-color: #000000;
  color: #D8E4D6;
  padding: 20px;
  text-align: center;
  font-family: neue;
}

nav {
  background-color: #D8E4D6;
  padding: 20px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000000;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  color: #000000;
}

nav ul li a {
  color: #D8E4D6;
  text-decoration: none;
  color: #000000;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #000000;
}


section {
  padding: 20px;
}

footer {
  background-color: #D8E4D6;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}
